<div class="jumbotron">
    <h1>冰与火之歌中文维基+</h1>
    <p class="lead">为<a href="http://zh.asoiaf.wikia.com/wiki/%E5%86%B0%E4%B8%8E%E7%81%AB%E4%B9%8B%E6%AD%8C%E4%B8%AD%E6%96%87%E7%BB%B4%E5%9F%BA" target="_blank">冰与火之歌中文维基</a>提供额外服务</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-4">
        <h2>新的API</h2>
        <p>来尝试新的API吧</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Help")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More...</h2>
        <p>Soon</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More...</h2>
        <p>Soon</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>
